@model IEnumerable<CSharpAssignment2.Models.tbl_Product>

@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>

@using (Html.BeginForm("DeleteSelected", "Product", FormMethod.Post))
{
    <hr />

    <p>
        <a href="@Url.Action("CreateProduct","Product")" class="btn btn-success">Create New Product</a> |
        <input type="button" value="Delete Selected Products" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" />
    </p>

    <table class="table table-striped table-responsive text-center">
        <tr>
            <th class="text-center">
                #
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th class="text-center">Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="ids" value="@item.id" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)/-
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Status == "In Stock")
                    {
                        <span class="label label-success">In Stock</span>
                    }
                    else
                    {
                        <span class="label label-danger">Stock Out</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)%
                </td>
                <td>
                    <img src="~/Images/@item.Image" height="50" width="50" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProduct", new { id = item.id }) |
                    @Html.ActionLink("Details", "ProductDetails", new { id = item.id }) |
                    <a href="#" onclick="ConfirmDelete(@item.id)">Delete</a>
                </td>
            </tr>
        }
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Delete Products</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete selected records?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
}

<input type="hidden" id="hiddenProductId" />

<div class="modal fade" id="modal-danger">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h2 class="modal-title">Delete Product</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete Record?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="Delete()">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    var ConfirmDelete = function (productId) {
        $("#hiddenProductId").val(productId);
        $("#modal-danger").modal('toggle');
    }

    var Delete = function () {
        var productId = $("#hiddenProductId").val();
        $.ajax({
            type: "POST",
            url: "/Product/Delete",
            data: { productId: productId },
            success: function (response) {
                $("#modal-danger").modal('hide');
                if (response.returnParam == true) {
                    window.location.href = response.redirectTo
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>



